body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.game_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
   /* background-color: rgb(238, 235, 50);*/
    background-image: linear-gradient(#FF8000, red);
    min-width: 100%;
    min-height: 100%;
    flex-grow: 1;
}

h1
{
    color: green;
    font-weight: 1000;
}

.rps
{
    margin-top: -16px;
}

h2
{
    color: rgb(255, 255, 255);
    margin-top: -18px;
    margin-bottom: 0;
}

span
{
    font-weight: 1000;
    margin-bottom: 8px;
    color: red;
}

.game
{
    display: flex;
    margin-bottom: 0;
}

.player_side,
.computer_side
{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    width: 200px;
    height: 300px;
    align-items: center;
}

/*
.player_side
{
    background-color: red;
}

.computer_side
{
    background-color: green;
}

.round_result
{
    background-color: purple;
}
*/
.round_result
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    height: 300px;
}

.player_text,
.computer_text
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player_name,
.computer_name
{
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.computer_name
{
    margin-top: 15px;
}

.player_score,
.computer_score
{
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-top: 0;
}

.player_buttons
{
    display: flex;
    gap: 32px;
    margin-top: -25px;
}

button,
.choice_img
{
    height: 125px;
    width: 175px;
}

.rock
{
    background-image: url("../Images/jajanken_rock.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.paper
{
    background-image: url("../Images/jajanken_paper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.scissors
{
    background-image: url("../Images/jajanken_scissors.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.button_names
{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    width: 595px;
}

.button_text
{
    color: white;
    font-weight: 700;
    text-align: center;
}

.final_result
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.reset_button
{
    background-color: rgb(241, 110, 22); 
    color: black; 
    font-weight: 1000; 
    width: 100px;
    height: 50px;
}

.Win_Message
{
    color: blue; 
}

.Loose_Message
{
    color: blue; 
}